<link rel="stylesheet" type="text/css" href="gallery.css">
<link href="https://fonts.googleapis.com/css?family=Raleway:400,800" rel="stylesheet">

<div class="gallery">
    <img src="1.jpg">
    <img src="2.jpg">
    <img src="3.jpg">

    <img src="4.jpg">
    <img src="5.jpg">
    <img src="6.jpg">

    <img src="7.jpg">
    <img src="8.jpg">
    <img src="9.jpg">

    <img src="10.jpg">
    <img src="11.jpg">
    <img src="12.jpg">
</div>

<br>

<p class="text-md-center">
    <a href="example.zip">Download Gallery Examples</a>
</p>
