<link rel="stylesheet" type="text/css" href="my.css">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">

<div>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- indicators -->
        <ol class="carousel-indicators">
            <li data-target="#my-slider" data-slide-to="0" class="active"></li>
            <li data-target="#my-slider" data-slide-to="1"></li>
        </ol>

        <!-- wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="slide1.jpg" alt="First signature example slider" width="800">
            </div>
            
            <div class="item">
                <img src="slide2.jpg" alt="Second signature example slider" width="800">
            </div>  
            
        </div>
      
      <!-- controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      
    </div>
</div>

<div class="innerMsg">
    
    <h2 class="myTitle">Hi, I'm Chey and I design handwritten signatures.</h2>

<p>
Are you looking for a new handwritten signature for your Instagram page or blog? Does your business want a new handwritten logo? Wouldn't your new book title look awesome if it wasn't a standard looking font? You're in the right place if you're looking for a custom written word or name. 
<br><br>
    <span>My clients used their signatures for all sorts of things.</span> 
    <ul>
        <li>Businesses names, cards, flyers</li>
        <li>Professional photographer signatures or watermark</li>
        <li>Public speakers signatures</li>
         <li>Authors signatures or book titles</li>
        <li>Personal users</li>
        <li>and so many more than I can list!
    </ul>
    <a href="/purchase" role="button" class="btn btn-outline-info btn-info">Purchase</a>
</p>
</div>
