<div class="container">
<h2 style="text-align:center">Signature Pricing List</h2>
</div>

<div class="columns">
  <ul class="price">
    <div class="simpleCart_shelfItem">
    <p class="item_name" hidden>Personal</p>
    <input type="text" value="1" class="item_Quantity" hidden>
    <span hidden class="item_price">$9.99</span>
    <li class="header">Personal</li>
    <li class="grey">$ 9.99</li>
    <li>JPG/PNG files. Transparent/white/black background. High resolution 1920x1080.</li>
    <li>3 worded signature</li>
    <li>1 draft/variation concept</li>
    <li>Revisions: 1</li>
    <li>3 day delivery</li>
    <li class="grey"><p class="button"><a class="item_add" href="javascript:;"> Add to Cart </a></p></li>
    </div>  
</ul>
</div>

<div class="columns">
  <ul class="price">
    <div class="simpleCart_shelfItem">
    <p class="item_name" hidden>Business Std</p>
    <input type="text" value="1" class="item_Quantity" hidden>
    <span hidden class="item_price">$29.99</span>
    <li class="header" style="background-color:#4CAF50">Business Standard</li>
    <li class="grey">$ 29.99</li>
    <li>JPG/PNG files. Transparent/white/black background. High resolution 1920x1080.</li>
    <li>3 worded signature</li>
    <li>3 drafts/variation concepts</li>
    <li>Revisions: 2</li>
    <li>3 day delivery</li>
    <li class="grey"><p class="button"><a class="item_add" href="javascript:;"> Add to Cart </a></p></li>
    </div>
  </ul>
</div>

<div class="columns">
  <ul class="price">
    <div class="simpleCart_shelfItem">
    <p class="item_name" hidden>Business Pro</p>
    <input type="text" value="1" class="item_Quantity" hidden>
    <span hidden class="item_price">$49.99</span>
    <li class="header">Business Pro</li>
    <li class="grey">$ 49.99</li>
    <li>JPG/PNG files. Transparent/white/black background. High resolution 1920x1080.</li>
    <li>3 worded signature</li>
    <li>5 drafts/variations concepts</li>
    <li>Revisions: 3</li>
    <li>3 day delivery</li>
    <li class="grey"><p class="button"><a class="item_add" href="javascript:;"> Add to Cart </a></p></li>
    </div>
  </ul>
</div>
</div>
